

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.truncate  {
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sideBorder {
    border: 1px solid #0056CF!important;
    border-width: 0 0 0 3px!important;
}

.topRightNav {
  display:flex;
  align-items:flex-end!important;
}

.logoTopNav {
  width:300px;
}

.hoverNav {
  z-index: 1;
  position: absolute!important;
  width: 24%;
}
