$text_lt_default :#242b42!important;
$text_lt_light :#687887!important;
$text_lt_lighter :#c1cdd6!important;
$test: green;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.truncate {
  color: $text_lt_default!important;
  width: 80%;
  margin:0px;
  padding:0px;
  white-space: nowrap!important;
  overflow: hidden;
  text-overflow: ellipsis!important;
}

.sideBorder {
    border: 1px solid #0056CF!important;
    border-width: 0 0 0 3px!important;
}

.topRightNav {
  display:flex;
  align-items:flex-end!important;
}

.logoTopNav {
  width:300px;
}

.hoverNav {
  z-index: 1;
  position: absolute!important;
  width: 24%;
  right:10px;
}

.ticketcards {
  color:red!important;
  
}
